.contact-us {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @media (max-width: 1279px) {
      grid-template-columns: 1fr;
    }
  }

  &__content-wrap {
    margin-top: 20px;
    @media (max-width: 1279px) {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__form-wrap {
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
  }
}

.keep-touch-detail {
  margin-top: 50px;
  @media (max-width: 1279px) {
    margin-top: 0;
  }
}

.keep-touch-detail-item {
  display: flex;
  gap: 30px;

  @media (max-width: 767px) {
    gap: 15px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: var(--blue);
  }

  &__content-wrap {
    a {
      text-transform: none;
      color: var(--grey);
      &:hover {
        color: var(--yellow);
      }
    }
  }

  &__title {
    margin-bottom: 5px;
  }
}

@import "./components/ContactForm/ContactForm.scss";
@import "./components/Faq/Faq.scss";
