//_Section title:
.section-title {
  h2 {
    position: relative;
    padding-bottom: toEm(20, 42);
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: var(--yellow);
    }
  }

  &_left {
    h2 {
      text-align: left;
      &::before {
        left: 0;
        transform: translateX(0);
      }

      @media (max-width: 767px) {
        text-align: center;

        &::before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &_b {
    h2::before {
      background-color: var(--blue);
    }
  }

  p {
    padding-top: toEm(28, 19);
    line-height: 1.8;
  }
}
