//_Section title:
.section-title {
  text-align: center;

  h2 {
    position: relative;
    padding-bottom: toEm(20, 42);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: var(--yellow);
    }
  }

  &_left {
    text-align: left;

    h2::before {
      left: 0;
      transform: translateX(0);
    }
  }

  &_b {
    h2::before {
      background-color: var(--blue);
    }
  }

  p {
    padding-top: toEm(28, 19);
    line-height: 1.8;
  }
}
