.articles {
  &_wf > &__wrap {
    position: relative;
    z-index: 1;
    padding-top: 80px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}

@import "./components/ArticlesFilter/ArticlesFilter.scss";
@import "./components/ArticlesItem/ArticlesItem.scss";
