.form-message {
  padding: toEm(20, 19);
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

.form-field {
  position: relative;
  width: 100%;

  &__input {
    min-height: 70px;
    width: 100%;
    padding-right: 10px;
    font-family: var(--f-family-primary);
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: var(--grey);
    border: 1px solid var(--grey-light);
    background-repeat: no-repeat;

    &_error {
      border-color: var(--red);
    }

    &:focus,
    &:active {
      outline: none;
      border-color: var(--yellow);
    }
  }

  &__error-message {
    padding: 7px 5px 0px 12px;
    color: var(--red);
  }
}
