.about-author {
  background-color: var(--blue-light);

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 479px) {
      gap: 20px;
    }
  }

  &__details {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 479px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-wrap {
    justify-self: center;
  }

  &__details-item {
    display: flex;
    border-right: 1px solid var(--yellow);
    margin-right: 10px;
    padding-right: 10px;

    @media (max-width: 479px) {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }

    &:last-child {
      border: none;
      margin-right: 0;
    }
  }

  &__business-card {
    align-self: start;
  }
}

@import "./components/BusinessCard/BusinessCard.scss";
@import "./components/AboutAuthorDetails/AboutAuthorDetails.scss";
