.about-author {
  background-color: var(--blue-light);

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 479px) {
      gap: 20px;
    }
  }

  &__details {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 479px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-wrap {
    justify-self: center;
  }

  &__details-item {
    display: flex;
    border-right: 1px solid var(--yellow);
    margin-right: 10px;
    padding-right: 10px;

    @media (max-width: 479px) {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }

    &:last-child {
      border: none;
      margin-right: 0;
    }
  }

  &__business-card {
    align-self: start;
  }
}

.about-author-detail {
  &__content {
    font-size: toRem(55);
    line-height: 1.4;

    @media (max-width: 991px) {
      font-size: toRem(45);
    }

    @media (max-width: 767px) {
      font-size: toRem(35);
    }
  }

  &__title {
    font-family: var(--f-family-primary);
    color: var(--grey);
    font-size: toRem(18);
    font-weight: var(--regular);

    @media (max-width: 991px) {
      font-size: toRem(17);
    }

    @media (max-width: 767px) {
      font-size: toRem(15);
    }
  }
}

.business-card {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background-color: var(--blue);

  @media (max-width: 767px) {
    gap: 20px;
  }

  @media (max-width: 479px) {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  &__qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);

    img {
      width: 130px;
      padding: 15px;
    }
  }

  &__title {
    font-size: toRem(22);
    color: var(--yellow);
    margin-bottom: toEm(10, 22);

    @media (max-width: 767px) {
      font-size: toRem(20);
    }
  }

  &__contact {
    margin-bottom: toEm(5, 19);

    p,
    a {
      color: var(--blue-middle);
    }

    a {
      padding-left: toEm(10, 19);
    }
  }
}
