.menu-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  height: 60px;
  width: 60px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 30px;
  right: 0;

  transition: background-color var(--t-duration);

  span {
    width: 15px;
    height: 3px;
    background-color: var(--white);
  }

  &[data-active="true"] {
    background-color: var(--black);
  }
}
