.authors-book {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1279px) {
      gap: 40px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.authors-book-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 620px;

  @media (max-width: 1279px) {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    gap: 15px;
  }

  &__image,
  &__listing {
    width: 50%;
  }

  &__listing {
    padding-top: 30px;

    @media (max-width: 1279px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  &__image {
    @media (max-width: 1279px) {
      flex: 0 0 33.333%;
    }

    @media (max-width: 479px) {
      width: 100%;
    }

    img {
      width: 100%;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (max-width: 1279px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__title {
    display: inline-block;
    font-size: toRem(32);

    @media (max-width: 991px) {
      font-size: toRem(24);
    }
  }

  &__price {
    font-family: var(--f-family-primary);
    font-size: toRem(22);
    font-weight: var(--bold);
    color: var(--yellow);

    @media (max-width: 767px) {
      font-size: toRem(18);
    }
  }

  &__content {
    display: flex;
    padding-top: toEm(15, 19);
    flex-direction: column;
    gap: toEm(20, 19);
  }

  &__annotation {
    margin-bottom: toEm(10, 19);
  }

  &__format {
    display: flex;
    align-items: center;
    gap: toEm(10, 24);

    @media (max-width: 479px) {
      h3 {
        font-size: toRem(20);
      }
    }
  }

  &__btn {
    align-self: start;
    &:hover {
      color: inherit;
    }
  }
}
