.product-single {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
    @media (max-width: 1279px) {
      gap: 30px;
    }
    @media (max-width: 991px) {
      align-items: start;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__image-wrap {
    padding: 70px;
    background-color: var(--blue-light);
    @media (max-width: 1279px) {
      padding: 30px;
    }
    @media (max-width: 991px) {
      padding: 15px;
    }
    @media (max-width: 767px) {
      width: 50%;
      margin: 0 auto;
    }
    @media (max-width: 479px) {
      width: 100%;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__detail {
  }

  &__title {
    font-size: 30px;
    margin-bottom: 5px;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__cost {
    color: var(--yellow);
    font-size: 30px;
    font-weight: var(--bold);
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__description {
    padding: 20px 0 30px;
  }
  &__parameters {
    margin-bottom: 30px;
  }
}

.product-single-parameters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  li {
    text-transform: capitalize;
    color: var(--grey);
    span {
      color: var(--blue);
      padding-right: 20px;
    }
  }
}

.product-single-cart {
  &__form {
    display: flex;
    gap: 30px;
    @media (max-width: 479px) {
      flex-direction: column;
    }
  }

  &__count {
    width: 120px;
    height: 66px;
    font-size: 1rem;
    border: 2px solid var(--yellow);
    background-color: transparent;
    padding: 0 10px;
    color: var(--black);
    text-align: center;

    @media (max-width: 479px) {
      width: 100%;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: var(--blue-middle);
    }
  }

  &__btn {
    flex-grow: 1;
  }
}

.product-information {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1279px) {
    padding-top: 80px;
  }

  @media (max-width: 991px) {
    width: 100%;
    padding-top: 60px;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__btn {
    min-width: 300px;
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    font-size: toRem(15);
    text-transform: uppercase;
    transition: all var(--t-duration);
    @media (max-width: 479px) {
      width: 100%;
    }
    &:hover,
    &[data-active="true"] {
      background-color: var(--blue);
      border-color: var(--blue);
      color: var(--white);
    }

    &[data-active="true"] {
      pointer-events: none;
    }
  }

  &__content {
    text-align: center;
  }
}

.shop-trust {
  background-color: var(--yellow);
  padding: 100px 0;

  @media (max-width: 1279px) {
    padding: 80px 0;
  }
  @media (max-width: 991px) {
    padding: 60px 0;
  }
  @media (max-width: 767px) {
    padding: 40px 0;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.shop-trust-item {
  padding: 20px 10px;
  flex: 1 1 33.333%;
  min-width: 300px;
  text-align: center;
  &__icon {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--blue);
  }

  &__title {
    padding: 20px 0 10px;
    font-size: toRem(32);
    @media (max-width: 1279px) {
      font-size: toRem(28);
    }
  }

  &__content {
    color: var(--blue);
  }
}
