.testimonials {
  &__wrap {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1279px) {
      grid-template-columns: 1fr;
    }
  }

  &__content-wrap {
  }

  &__overall-ratings {
    margin-top: 30px;
  }

  &__review-wrap {
  }
}

.overall-ratings {
  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;

    img {
      width: 120px;
    }
  }

  &__description {
    color: var(--blue);
    text-transform: capitalize;
  }
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &__item {
    &:nth-child(2) {
      align-self: center;
      grid-row: span 2;
      @media (max-width: 1279px) {
        grid-row: span 1;
      }
    }
    &:last-child {
      @media (max-width: 1279px) {
        grid-column: span 2;
        justify-self: center;
      }
      @media (max-width: 991px) {
        grid-column: span 1;
        justify-self: stretch;
      }
    }
  }
}

.testimonial {
  background-color: var(--blue);
  padding: 35px;

  @media (max-width: 1279px) {
    flex: 0 0 50%;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }

  &__client-info {
    margin-bottom: 20px;
  }
}

.testimonial-client-info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);

  &__photo {
    img {
      width: 85px;
      border-radius: 50%;
    }
  }

  &__name {
    margin-bottom: 10px;
  }

  &__rating {
  }
}

.testimonial-content {
  &__title {
    color: var(--white);
    margin-bottom: 10px;
  }

  &__message {
    color: var(--blue-middle);
  }
}
