.author-info {
  background-color: var(--beige);
  &__wrap {
  }

  &__image {
  }

  &__content-wrap {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 80px;

    @media (max-width: 1279px) {
      padding-top: 60px;
      grid-template-columns: 0.75fr;
      gap: 60px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      padding-top: 40px;
      gap: 30px;
    }
  }
}

.author-info-details {
  background-color: var(--white);
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.author-info-details-item,
.author-info-social-network {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 479px) {
    flex-direction: column;
    gap: 5px;
  }

  &__title {
  }

  &__info {
    text-transform: capitalize;
  }
}

.author-info-social-links {
  display: flex;
  align-items: center;
  gap: 5px;

  &__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.author-info-bio {
  @media (max-width: 1279px) {
    padding-top: 0;
    order: -1;
  }

  &__btn {
    margin-top: 30px;
    &:hover {
      color: inherit;
    }
  }
}
