//_Header:
.header {
  background-color: var(--blue);

  &__wrap {
    position: relative;
    display: flex;

    gap: 20px;
    padding: 40px 0;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 30px;
    }

    @media (max-width: 767px) {
      padding: 30px 0;
    }

    @media (max-width: 479px) {
      padding: 20px 0;
    }
  }

  &__logo-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    @media (max-width: 991px) {
      justify-content: space-between;
    }
  }

  &__nav-menu-wrap {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: 991px) {
      height: 60px;
      justify-content: start;
    }
  }

  &__nav-menu-mobile {
  }

  &__shopping-cart-btn {
    margin-top: toEm(5, 17);
    margin-right: 1em;
  }

  &__btn {
    flex-shrink: 0;
    margin-left: 12px;
    padding: 13px 33px;

    @media (max-width: 1280px) {
      padding: 12px 25px;
      margin: 0;
    }

    @media (max-width: 479px) {
      display: none;
    }

    &:hover {
      color: var(--white);
    }
  }
}

.nav-menu-mobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
    position: relative;
  }
}

@import "./components/MenuBtn/MenuBtn.scss";
@import "./components/NavigationMenu/NavigationMenu.scss";
