.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  &__logoWrap {
    display: flex;
    align-items: center;
    column-gap: 33px;
  }
  &__socialLinksWrap {
    display: flex;
    column-gap: 10px;
  }
  &__navbarWrap {
    display: flex;
    align-items: center;
    nav {
    }
  }
  &__btn {
    margin-left: 12px;
    padding: 13px 33px;
    &:hover {
      color: var(--white);
    }
  }
}
