.partners {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    column-gap: 20px;
    padding-top: 40px;

    @media (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }
}

.partner-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188.5px;
    height: 100px;
  }

  &__name {
    margin-top: toEm(22, 24);
    padding-bottom: toEm(5, 24);
    line-height: 150%;
  }
}
