.footer {
  background-color: var(--blue);
  color: var(--white);
  padding-top: 100px;
  @media (max-width: 1279px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
  }
  @media (max-width: 479px) {
    padding-top: 40px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 1.5fr;
    grid-auto-flow: row dense;
    gap: 40px;
    margin-bottom: 60px;
    @media (max-width: 1279px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }

  &__column {
    &:first-child {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.footer-widget {
  &__title {
    margin-bottom: 25px;
  }

  &__links-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    position: relative;
    color: var(--blue-middle);
    line-height: 170%;
    padding-left: 40px;
    background: url("../../../public/images/other/footer-link-marker.svg")
      no-repeat;
    background-position: 0 50%;
  }
}

.footer-contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-contact-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__label {
    min-width: 85px;
  }

  &__content {
    a,
    p {
      color: var(--blue-middle);
    }
    a {
      text-transform: none;
    }
    a:hover {
      color: var(--yellow);
    }
  }
}

.copyright {
  border-top: 1px solid hsla(0, 0%, 100%, 0.27);
  padding: 25px 0;
  text-align: center;

  &__text {
    a {
      color: var(--white);
      &:hover {
        color: var(--yellow);
      }
    }
  }
}
