.footer {
  background-color: var(--blue);
  color: var(--white);
  padding-top: 100px;
  @media (max-width: 1279px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
  }
  @media (max-width: 479px) {
    padding-top: 40px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 1.5fr;
    grid-auto-flow: row dense;
    gap: 40px;
    margin-bottom: 60px;
    @media (max-width: 1279px) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }

  &__logo-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    margin-bottom: 25px;
  }
}

@import "./components/FooterWidget/FooterWidget.scss";
@import "./components/FooterContact/FooterContact.scss";
@import "./components/Copyright/Copyright.scss";
