.preview-authors-book {
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 767px) {
      gap: 30px;
    }

    @media (max-width: 479px) {
      gap: 20px;
    }
  }
}

@import "./components/AuthorsBook/AuthorsBook.scss";
