@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
}

html,
body {
  font-size: 19px;
}

body {
  background-color: var(--blue);
  //!Временные стили
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  //_Colors:
  --blue: #1b3764;
  --blue-light: #f4f8ff;
  --yellow: #ffca42;
  --white: #ffffff;
  --beige: #f6f8fc;
  --grey: #969aa0;

  //_Fonts:
  --f-family-primary: 'Inter', sans-serif;
  --f-family-secondary: 'Cardo', serif;
}

//_Titles:
h1 {
  font-size: 3.421rem;
}
h2 {
  font-size: 2.895rem;
}
h3 {
  font-size: 2.368rem;
}
h4 {
  font-size: 1.684rem;
}
h5 {
  font-size: 1.263rem;
}
h6 {
  font-size: 1.158rem;
}

.container {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 30px;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  font-size: 16px;
  transition: all 0.3s;

  @media (max-width: 479px) {
    width: 40px;
    height: 40px;
  }
  &_w {
    color: var(--blue);
    background-color: var(--white);
    border: 2px solid var(--white);
    &:hover {
      background-color: var(--yellow);
      border-color: var(--yellow);
    }
  }
  &_b {
    color: var(--white);
    border: 2px solid var(--yellow);
    background-color: transparent;
    &:hover {
      background-color: var(--yellow);
    }
  }
}
