@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 19px;
}

body {
  background-color: var(--blue);
  //!Временные стили
  color: var(--white);
}

a {
  text-decoration: none;
  font-family: var(--f-family-primary);
}

img {
  max-width: 100%;
}

:root {
  //_Colors:
  --blue: #1b3764;
  --blue-light: #f4f8ff;
  --yellow: #ffca42;
  --white: #ffffff;
  --beige: #f6f8fc;
  --grey: #969aa0;

  //_Fonts:
  --f-family-primary: 'Inter', sans-serif;
  --f-family-secondary: 'Cardo', serif;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

//_Titles:
h1 {
  font-size: 3.421rem;
}
h2 {
  font-size: 2.895rem;
}
h3 {
  font-size: 2.368rem;
}
h4 {
  font-size: 1.684rem;
}
h5 {
  font-size: 1.263rem;
}
h6 {
  font-size: 1.158rem;
}

//_Containers:
.container {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 30px;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

//_Buttons::
.btn {
  cursor: pointer;
  font-size: 19px;
  font-family: var(--f-family-secondary);
  text-transform: capitalize;
  line-height: 125%;
  font-weight: var(--bold);
  letter-spacing: 0.38px;
  padding: 20px 56px;
  background-color: var(--yellow);
  color: var(--blue);
  border: 2px solid var(--yellow);
  transition: all 0.3s;

  &:hover {
    background-color: transparent;
  }
  &_transparent {
    background-color: transparent;
    &:hover {
      background-color: var(--yellow);
    }
  }
  &_large {
    padding: 20px 96px;
  }
}

//_Social network link:
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  font-size: 16px;
  transition: all 0.3s;

  @media (max-width: 479px) {
    width: 40px;
    height: 40px;
  }
  &_w {
    color: var(--blue);
    background-color: var(--white);
    border: 2px solid var(--white);
    &:hover {
      background-color: var(--yellow);
      border-color: var(--yellow);
    }
  }
  &_b {
    color: var(--white);
    border: 2px solid var(--yellow);
    background-color: transparent;
    &:hover {
      background-color: var(--yellow);
    }
  }
}

//_Shopping cart button
.shopping-cart-button {
  position: relative;
  font-size: 17px;
  padding: 9px 15px;
  margin-right: 18px;
  color: var(--white);
  transition: all 0.3s;

  svg {
    margin-right: 8px;
  }

  &__count {
    position: absolute;
    top: 0;
    right: 6%;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 9px;
    height: 18px;
    line-height: 18px;
    min-width: 18px;
    margin-left: 8px;
    background-color: var(--yellow);
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--blue);
    text-align: center;
  }
  &:hover {
    color: var(--yellow);
  }
}

//_Navigation menu:
.nav-menu {
  display: flex;
  align-items: center;
  &__link {
    font-size: 17px;
    padding: 1.4em 1.18em;
    color: var(--white);
    font-weight: var(--medium);
    transition: all 0.3s;
    //! Временные стили:
    &[data-active] {
      color: var(--yellow);
    }
    //!
    &:hover {
      color: var(--yellow);
    }
  }
}

//_Dropdown toggle:
.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--f-family-primary);
  column-gap: 5px;
  svg {
    margin-top: 3px;
  }
  &:hover {
    color: var(--yellow);
  }
}
