@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Inter:wght@400;500;600;700;800&display=swap");
//_SCSS Functions:
@function toRem($value) {
  $remValue: ($value / 19) + rem;
  @return $remValue;
}

@function toEm($pixels, $fz) {
  @return #{$pixels/$fz}em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 19px;
  font-family: var(--f-family-primary);
  background-color: var(--white);
  color: var(--blue);
  font-weight: var(--regular);
}

a {
  font-family: var(--f-family-primary);
  text-transform: capitalize;
  text-decoration: none;
  color: var(--blue);
  transition: color 0.3s;
  &:hover {
    color: var(--yellow);
  }
}

p,
.paragraph {
  color: var(--grey);
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: toRem(17);
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

//_Variables:
:root {
  //_Colors:
  --black: #141414;
  --blue: #1b3764;
  --blue-middle: #b4c7e7;
  --blue-light: #f4f8ff;
  --yellow: #ffca42;
  --white: #ffffff;
  --beige: #f6f8fc;
  --grey: #969aa0;
  --grey-middle: #dcdcdc;
  --grey-light: #dce1e9;

  //_Fonts:
  --f-family-primary: "Inter", sans-serif;
  --f-family-secondary: "Cardo", serif;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;

  //_Animation:
  --t-duration: 0.3s;
}

//_Titles:
h1 {
  font-size: toRem(65);
  letter-spacing: -0.02em;
  line-height: 110%;

  @media (max-width: 991px) {
    font-size: toRem(50);
  }

  @media (max-width: 768px) {
    font-size: toRem(45);
  }

  @media (max-width: 479px) {
    font-size: toRem(32);
  }
}

h2 {
  font-size: toRem(42);
  line-height: 1.2;
  @media (max-width: 767px) {
    font-size: toRem(32);
  }

  @media (max-width: 479px) {
    font-size: toRem(28);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--f-family-secondary);
  text-transform: capitalize;
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.title {
  &_big {
    font-size: toRem(24);
    @media (max-width: 767px) {
      font-size: toRem(22);
    }
  }
  &_small {
    font-size: toRem(22);
    @media (max-width: 767px) {
      font-size: toRem(20);
    }
  }
}

//_Containers:
.container {
  display: block;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

//_Marker:
.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--yellow);
}

//_Section grid:
.section-grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1279px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

//_Section wrap:
.section-wrap {
  padding: 140px 0;

  &_b {
    background-color: var(--blue-light);
  }
  @media (max-width: 1279px) {
    padding: 100px 0;
  }

  @media (max-width: 991px) {
    padding: 80px 0 60px;
  }

  @media (max-width: 767px) {
    padding: 60px 0 40px;
  }

  @media (max-width: 479px) {
    padding: 40px 0 30px;
  }
}

//_Page description
.page-description {
  padding: 80px 0 120px;
  margin-top: -3px;
  background-color: var(--blue);
  text-align: center;

  @media (max-width: 1279px) {
    padding: 60px 0 90px;
  }

  @media (max-width: 991px) {
    padding: 40px 0 60px;
  }

  &__title {
    font-size: toRem(50);
    color: var(--white);

    @media (max-width: 991px) {
      font-size: toRem(40);
    }

    @media (max-width: 767px) {
      font-size: toRem(36);
    }

    @media (max-width: 479px) {
      font-size: toRem(30);
    }
  }

  &__text {
    color: var(--blue-middle);
  }
}

.bg {
  &_bl {
    background-color: var(--blue-light);
  }
}

.rating,
.rating-full {
  display: inline-block;
  height: 13px;
  width: 13px;
  border: 1px solid var(--yellow);
  border-radius: 50%;
  margin-right: 4px;
}

.rating-full {
  background-color: var(--yellow);
}

//_Importing component styles:

@import "./components/Button/Button.scss";
@import "./components/SocialLinks/SocialLinks.scss";
@import "./components/SectionTitle/SectionTitle.scss";

@import "./components/Header/Header.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Articles/Articles.scss";

@import "./components/PreviewAuthorsBook/PreviewAuthorsBook.scss";

@import "./components/Subscription/Subscription.scss";
@import "./components/Partners/Partners.scss";
@import "./components/Accordion/Accordion.scss";
@import "./components/Cart/Cart.scss";
@import "./components/Frame/Frame.scss";

@import "./pages/Home/Home.scss";
@import "./pages/Blog/Blog.scss";
@import "./pages/OurStore/OurStore.scss";
@import "./pages/ProductSingle/ProductSingle.scss";
@import "./pages/ArticleSingle/ArticleSingle.scss";
@import "./pages/ContactUs/ContactUs.scss";
@import "./pages/NotFoundPage/NotFoundPage.scss";
@import "./pages/About/About.scss";
