.learn {
  &__wrap {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 50px;

    @media (max-width: 1279px) {
      grid-template-columns: 1fr;
    }
  }

  &__content-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__image-wrap {
    display: flex;
    justify-content: center;

    @media (max-width: 1279px) {
      order: -1;
    }
  }
}

.learn-step {
  background-color: var(--blue-light);
  padding: toEm(30, 24);

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--yellow);
    margin-bottom: toEm(30, 24);

    h3 {
      font-size: inherit;
    }
  }

  &__description {
    font-size: inherit;
    line-height: 1.4;
    text-transform: none;
  }
}
